.button-wrapper {
  margin: 20px;
}

button {
  background-color: transparent;
  border: solid silver;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  cursor: pointer;
  transition: all 1.3s ease-in;
}

button:hover {
  background-color: black;
  color: white;
}
